{% extends 'base.html' %}
{% block content %}
<section>
    <div class="content row padding-bottom-3 desktop-12 container">
        <h1>Obrigado por se inscrever!</h1>
        <div class="desktop-6">
            <p>Estes foram os dados que você nos informou:</p>

            <ul>
                <li>Nome: {{ subscription.name }}</li>
                <li>CPF: {{ subscription.cpf }}</li>
                <li>Email: {{ subscription.email }}</li>
                <li>Telefone: {{ subscription.phone }}</li>
            </ul>

            <p>Em breve entraremos em contato</p>
        </div>
    </div>
</section>
{% endblock content %}